[Unit]
Description=Hoststackd supervisor daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/hoststack_supervisor

[Install]
WantedBy=multi-user.target